use [planteddwh]
/****** Object:  Table [dbo].[DiscogsApiCallResult]    Script Date: 22/08/2022 20:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscogsApiCallResult](
	[DiscogsId] [int] NOT NULL,
	[ReleaseYear] [nvarchar](max) NULL,
	[LabelName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DiscogsApiCallResult] PRIMARY KEY CLUSTERED 
(
	[DiscogsId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteRecords]    Script Date: 22/08/2022 20:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteRecords](
	[Artist] [varchar](255) NOT NULL,
	[AlbumName] [varchar](255) NOT NULL,
	[ReleaseYear] [varchar](5) NULL,
	[Label] [nvarchar](50) NULL,
	[DiscogsId] [int] NOT NULL,
 CONSTRAINT [PK_FavoriteRecords] PRIMARY KEY CLUSTERED 
(
	[DiscogsId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecordPrices]    Script Date: 22/08/2022 20:05:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordPrices](
	[DiscogsId] [int] NOT NULL,
	[PriceDate] [date] NOT NULL,
	[Price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_RecordPrices] PRIMARY KEY CLUSTERED 
(
	[DiscogsId] ASC,
	[PriceDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DiscogsApiCallResult] ([DiscogsId], [ReleaseYear], [LabelName]) VALUES (96609, N'1988', N'Soo Deff Records')
INSERT [dbo].[DiscogsApiCallResult] ([DiscogsId], [ReleaseYear], [LabelName]) VALUES (241305, N'1986', N'Warlock Records')
INSERT [dbo].[DiscogsApiCallResult] ([DiscogsId], [ReleaseYear], [LabelName]) VALUES (314701, N'1990', N'Chrysalis')
GO
INSERT [dbo].[FavoriteRecords] ([Artist], [AlbumName], [ReleaseYear], [Label], [DiscogsId]) VALUES (N'Tuff Crew', N'Dangerzone', N'1988', N'Soo Deff Records', 96609)
INSERT [dbo].[FavoriteRecords] ([Artist], [AlbumName], [ReleaseYear], [Label], [DiscogsId]) VALUES (N'Skinny Boys', N'Weightless', N'1986', N'Warlock Records', 241305)
INSERT [dbo].[FavoriteRecords] ([Artist], [AlbumName], [ReleaseYear], [Label], [DiscogsId]) VALUES (N'Gang Starr', N'Step in the Arena', N'1990', N'Chrysalis', 314701)
GO
INSERT [dbo].[RecordPrices] ([DiscogsId], [PriceDate], [Price]) VALUES (96609, CAST(N'2022-06-10' AS Date), CAST(37.00 AS Decimal(10, 2)))
INSERT [dbo].[RecordPrices] ([DiscogsId], [PriceDate], [Price]) VALUES (96609, CAST(N'2022-06-11' AS Date), CAST(88.00 AS Decimal(10, 2)))
INSERT [dbo].[RecordPrices] ([DiscogsId], [PriceDate], [Price]) VALUES (96609, CAST(N'2022-06-12' AS Date), CAST(136.00 AS Decimal(10, 2)))
GO
ALTER TABLE [dbo].[RecordPrices] ADD  CONSTRAINT [DF_RecordPrices_PriceDate]  DEFAULT (getdate()) FOR [PriceDate]
GO
ALTER TABLE [dbo].[RecordPrices] ADD  CONSTRAINT [DF_RecordPrices_Price]  DEFAULT ((0)) FOR [Price]
GO
